
<div class="body">
    
    <h1>SPORTS ARENA</h1>
    
        <div class="buttons">
            <a routerLink="/registration" routerLinkActive="active"><button class="btn btn-primary"> REGISTER </button> </a>
            <a routerLink="/login" routerLinkActive="active"><button class="btn btn-primary"> LOGIN </button> </a>
        </div>
    
        <div class="images">
            <img src="./../../assets/images/3d-render-man-playing-volleyball-with-thumbs-up-pose-isolated-white-background.jpg" alt="Random Image 1">
            <img src="./../../assets/images/3d-rendering-cartoon-like-boy-playing-basketball.jpg" alt="Random Image 2">
            <span id="shadow"></span>
        </div>
</div>
