
<app-admin-header> </app-admin-header>

<div class="container mob-table">
    <div class="headers">
       
          <div class="container mt-4">
            <button class="btn btn-primary" (click)="addSport()">Add Sport</button>
        </div> 
    </div>
    <br>
    <div class="row">
        <div *ngFor="let sport of sports" class="col-md-4">
            <div class="col-10">
                <div class="card mb-2">
                    <div class="card-header bg-dark-subtle">
                        <h5>{{ sport.sportName }}</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Sport ID: {{ sport.sportId }}</h5>
                        <p class="card-text">Sport Name: {{ sport.sportName }}</p>
                        <p class="card-text">Players Required: {{ sport.minimumPlayers }}</p>
                        <p class="card-text">Price: {{ sport.costPerHour }}</p>
                        <div class="opt">
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary" style="margin-right: 5px;" (click)="goToUpdate(sport.sportId)">Edit</button>
                            <button class="btn btn-danger" (click)="deleteSport(sport.sportId)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
